{% extends "base.html" %}

{% block page_content %}
<div class="page-header" style="margin-top: 20px;">
    <!-- Título com a linha separadora -->
    <h2>Dados do acesso</h2>
</div>

<!-- Exibe o texto com o e-mail dinâmico recuperado da sessão -->
<p style="font-size: 1.6em; margin-bottom: 40px; color: #333;">
    Você está acessando o sistema por meio do usuário {{ usuario }}
</p>

<!-- Informações de data e hora do Flask-Moment -->
<div>
    <p>The local date and time is {{ moment(current_time).format('LLL') }}.</p>
    <p>That was {{ moment(current_time).fromNow(refresh=True) }}.</p>
</div>
{% endblock %}